.row.drow{
    --bs-gutter-x: 1.5rem;
    margin-right: calc(0* var(--bs-gutter-x));
}
.col-6.dSearch{
    width: 45%;!important;
    margin-left: 10px;
}


.search{
    width: 100vw;
    height: 10vh;
    margin-top: 25px;
    position: relative;

}
.shadow-card {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 7px
}


/*Add new customer modal*/
.mdiv{
    height: 80vh;
    justify-content: center;
}
.mheader{
    font-size: 30px;
    font-family: Inter;
    font-weight: bold;
}

.cus>label{
    font-family: Inter;
    font-weight: bold;
}

.cus{
    margin-bottom: 15px;
}

.cus>input{
    border: 1px solid #a6a6a6;
    height: 45px;
}